{% extends "__object.twig" %} 

{% block objContent %}
  <div>
    <li class="list-group-item">
      <p>
        2071 год. Человечество колонизировало всю Солнечную Систему, основав колонии от Венеры до
        Юпитера. Но десятилетия тому назад из-за техногенной катастрофы была уничтожена Луна.
        Последствия оказались катастрофическими: непрерывные метеоритные дожди сделали жизнь на 
        поверхности Земли невозможной, а в первые недели после катастрофы погибло 4,7 миллиарда 
        человек. Большая часть выживших перебралась в колонии на другие планеты.
      </p>
      <p>
        Со временем по всей Солнечной Системе разрослись и набрали силу преступные синдикаты, 
        для борьбы с которыми правительство возродило древнюю практику охоты за головами. 
        Отныне охотники за головами разъезжают по всей Солнечной Системе в поисках целей.
      </p>
      <p>
        Спайк Шпигель и Джет Блэк — охотники. Волею судьбы они оказались на космическом корабле 
        «Bebop 268710». Путешествуя вместе, они подбирают Фэй Валентайн — очаровательную картёжницу 
        с невероятно огромным долгом, Радикал Эдварда — компьютерного гения и генетически модифицированную собаку Эйн.
      </p>
    </lib>
  </div>
{% endblock %}