{% extends "__object.twig" %} 

{% block objContent %}

<div class="pt-4">
    <i>
    «Высокий, как морские короли древности, стоял он над<br>
    всеми: древним казался он и в то же время в расцвете<br>
    мужества; мудрость сияла в его челе, сила и исцеление<br>
    были в его руках, и свет окружал его.»
    </i>
</div>

<div class="pt-4">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="/bebop/image">Картинка</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bebop/bebop_info">Описание</a>
      </li>
    </ul>
</div>

{% endblock %}