{% extends "__object.twig" %}

{% block objContent %}

{% if contenttype == "mainImage"%}
    <li class="list-group-item mt-2">
        <img src="{{ img }}" style="width: 300px;" alt=""/>
    </li>
{% endif %}

{% endblock %}