{% extends "__layout.twig" %}

{% block content %}
<ul class="list-group">
    <li class="list-group-item">
        <a type="button" class="btn btn-primary" href="/aragorn" >Ковбой Бибоп</a>
        <a type="button" class="btn btn-link" href="/aragorn/img">Картинка</a>
        <a type="button" class="btn btn-link" href="/aragorn/info">Описание</a>
    </li>
    <li class="list-group-item">
        <a type="button" class="btn btn-primary" href="/gendalf">Триган</a>
        <a type="button" class="btn btn-link" href="/gendalf/img">Картинка</a>
        <a type="button" class="btn btn-link" href="/gendalf/info">Описание</a>
    </li>
</ul>
{% endblock %}