{% extends "__layout.twig" %}
{% import "__button_macro.twig" as forms %}

{% block content %}

<div class="d-flex justify-content-center">
    <ul class="list-group flex-row row"> 
        {# главная страница с навигацией #}
        {% include 'navigation_button.twig' %}
    </ul>
</div>
{% endblock %}