{% extends "__layout.twig" %}

{% block content %}

<ul class="list-group">

    <!-- АБАЛДЕТЬ ОКАЗЫВАЕТСЯ это реально удобная штука 
    p.s. всего то просто спокойно посидеть и подумать надо было хддд -->
    {% for item in navigation %}
        <li class="list-group-item">
            <a type="button" class="btn btn-primary" href="{{ item.url }}"> {{ item.title }} </a>
            <a type="button" class="btn btn-link" href="{{ item.url_image}}">Картинка</a>
            <a type="button" class="btn btn-link" href="{{ item.url_info}}">Описание</a>
        </li>
    {% endfor %}
</ul>

{% endblock %}