{% import "__button_macro.twig" as forms %}
{% block main_content %}

{% for object in anime_series %}
    <div class="col-3"> {# специально всё обернул в див, чтобы блоки не слипались #}
        <li class="list-group-item m-2 text-center">
            <div>
                <img src="{{ object.image }}" class="border border-2 rounded-3" style="width: 240px; height: 320px;">
            </div>

            <div class="mt-2">
                <div class="row">
                    {{ forms.btn( object.title, true, object.url ) }}
                </div>
                <div>
                    {{ forms.btn('Картинка', false, object.url_image ) }}
                    {{ forms.btn('Описание', false, object.url_info ) }} 
                </div> 
            </div>
        </li>
    </div>
{% endfor %}

{% endblock %}